.TextoOC h1{
    font-size: 2vw;
    letter-spacing: 0.5vw;
    margin-left: 5vw;
    margin-top: 3.5vw;
    font-weight: 100;
}

.TextoOC p{
    font-weight: 100;
    margin-bottom: 2%;
    margin-left: 5vw;
    width: 80vw;
    font-size: 1.2vw;
    line-height: 1.5vw;
}