
.Titulos{
    font-weight: 100;
    letter-spacing: 10pt;
    margin-bottom: 2%;
    margin-left: 11vw;
    font-size: 3vw;
    padding-top: 5%;
  }
  

h2{
    font-size: 1.2vw;
    margin-left: 11vw;
    letter-spacing: 2.5pt;
    color:  rgb(0, 167, 139);
    font-weight: 300;
    
}

.Org {
    font-size: 1.2vw;
    margin-left: 11vw;
    margin-bottom: 1vw;
    font-weight: 300;
    
}

@media (max-width: 768px) {

.Titulos{
    font-weight: 100;
    letter-spacing: 5pt;
    margin-bottom: 2%;
    margin-left: 11vw;
    font-size: 150%;
    padding-top: 5%;
  }
  

h2{
    font-size: 80%;
    margin-left: 11vw;
    letter-spacing: 2.5pt;
    color:  rgb(0, 167, 139);
    font-weight: 300;
    
}

.Org {
    font-weight: 100;
    font-size: 80%;
    line-height: 180%;
    width: 70vw;
    
}
}

@media (max-width: 375px) {
    h2{
        font-size: 80%;
        margin-left: 11vw;
        letter-spacing: 1pt;
        color:  rgb(0, 167, 139);
        font-weight: 300;
    }
    .Formacao{
        width:85vw ;
        margin-left: 1vw;
     }
    
}