
.Card {
  width: 25vw;
  display: inline-flex;
  align-items: flex-end;
  flex-wrap: wrap;
  color: aliceblue;
  background-color: #1a1a1a;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin: 20px;
}
.Card:hover {
  transform: scale(1.05);
  transition: all 350ms ease-in-out;
}

.CardTitulo,
.CardDesc {
  margin: 1vw;
  font-family: Montserrat, sans-serif;
}

img {
  width: 100%;
  padding: 5px;
}

button {
  padding: 5px;
  display: inline-flex;
  margin-left: 15px;
  margin-bottom: 15px;
  align-content: space-between;
  border: 0;
  letter-spacing: 3px;
  border-radius: 5px;
  background-color: rgb(0, 175, 131);
  cursor: pointer;
  color: #1a1a1a;
  font-size: 0.8vw;

}

button:hover {
  background-color: rgb(0, 226, 158);
}
