.MenuContainer{
    display: flex;
    background-color: rgba(5, 57, 49, 0.893);
    padding: 2vw;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 100%;
    behavior: smooth;
    top: 0;
    position: fixed;
    z-index: 999;
}


.Transp{
    opacity: 50%;
    background-color: aqua;
    border: #ffffff ;
}

ul{
    display: flex;
    flex-direction: row;
    margin-top: 1vw;
}

li{
    margin-right: 3vw;
    font-size: 1vw;
    cursor: pointer;
}



a{
    color: #ffffff;
    letter-spacing: 3px;
}

a:hover{
    color: rgb(0, 216, 133);
}

.Logo{
    margin-top: -1.5vw;
    margin-right: 16vw    ;
    width: 15vw;

}

.MenuMobile{
    display: none;
}

.MenuDesk{
    display: flex;
    align-content: center;
    margin: 0 auto;
}

@media (max-width: 768px) {    
      
    .Logo{
        margin-top: 0vw;
        margin-right:40vw ;  
        margin-left:3vw ;  
        width:35vw;
    } 

    .MenuDesk{
        display: none;
    }

    .MenuMobile {
        display: block;
        position: fixed;
        z-index: 999;
        background-color: rgba(5, 57, 49, 0.893);
        width: 100%;
        padding: 2vw;
        border-bottom-left-radius: 6vw;
        border-bottom-right-radius: 6vw;
      }  

    .headerMobile{
display: inline-flex;
      }

    .Hamburger{
        margin-top: 3vw;        
        width: 7vw;
        height: 8vw;
    }

    .MenuMobile>ul{
      
        margin-left: 6vw;
        flex-direction: column;
    }
    .MenuMobile > ul > li{
        margin-top: 5vw;
        margin-bottom:6vw;
        font-size: 3vw;
        flex-direction: column;
    }

    .MenuContainer{
        display: flex;
        padding: 0vw;
 
    }
    
 




}