.Titulos {
  font-weight: 100;
  letter-spacing: 10pt;
  margin-bottom: 2%;
  margin-left: 11vw;
  font-size: 3vw;
  padding-top: 5%;
}

.BoxCards {
  margin-left: 2vw;
}

.Descricao {
  font-weight: 100;
  margin-bottom: 2%;
  margin-left: 11vw;
  width: 80vw;
  font-size: 1.2vw;
  line-height: 2vw;
}

.MeusProjetos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2%;
}
.ProjetoBox {
  background-color: rgb(211, 211, 211);
  width: 5vw;
  height: 10vw;
  border-radius: 10px;
}

.IconGroup {
  color: rgb(0, 124, 103);
  font-size: 8vw;
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 100%;
}

.Icon {
  margin-left: 2vw;
  margin-right: 2vw;
  color: rgb(0, 124, 103);
}

.Icon:hover {
  color: rgb(0, 175, 131);
  animation: float 1s ease-in-out infinite;
}

.IconLink {
  display: flex;
  flex-direction: column;
  margin-bottom: 2vw;
}

.IconLink > p {
  color: rgb(101, 101, 101);
}

@keyframes float {
  0% {
    transform: translatey(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .Titulos {
    font-weight: 100;
    letter-spacing: 5pt;
    margin-bottom: 2%;
    margin-left: 11vw;
    font-size: 150%;
    padding-top: 5%;
  }

  .BoxCards {
    margin-left: 9vw;
  }

  .Descricao {
    font-weight: 100;
    margin-bottom: 2%;
    margin-left: 11vw;
    width: 80vw;
    font-size: 80%;
    line-height: 180%;
  }

  .IconGroup {
    color: rgb(0, 124, 103);
    font-size: 500%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 80%;
    flex-wrap: wrap;
  }

  .IconLink > p {
    color: rgb(101, 101, 101);
    font-size: 12%;
  }
}
