@font-face {
    font-family:Montserrat-light ;
    src: url(../../assets/fonts/Montserrat-Light.ttf);
}


.BoxGeral{

   margin: 0 auto;
 
}

.TextoSobre{
    background-color:rgb(0, 29, 24);
    display: flex;
    align-content: center;
    width: 44vw;
    padding: 3vw;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.342);
    border-radius: 10px;
    margin-top:22vw;
    font-weight: 100;

   
}
 p{
    color: rgb(255, 255, 255);
    font-size: 1.2vw;
    line-height: 1.9vw;
    font-family:Montserrat-light ;
    overflow: hidden;
    margin: 0 auto;
    display: inline-block;
    font-weight: 500;
    text-align: justify;
}


h1{
    display: flex;
    margin-top: 10%;
    font-size: 50pt;
    color: rgb(255, 255, 255);
}

@media (max-width: 768px) {
    .TextoSobre{
        background-color:rgb(0, 29, 24);
        display: flex;
        align-content: center;
        width: 70vw;
        padding: 5vw;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.342);
        border-radius: 10px;
        margin-top:25vw;

       
    }
    .TextoSobre p{
        color: rgb(255, 255, 255);
        font-size: 88%;
        line-height:180%;
        font-family: Montserrat, sans-serif;
        overflow: hidden;
        margin: 0 auto;
        display: inline-block;
        font-weight: 500;
        text-align:left;
    }
    
    
    h1{
        display: flex;
        margin-top: 10%;
        font-size: 50pt;
        color: rgb(255, 255, 255);
    }

}