* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: MicrogrammaDMedExt, sans-serif;
}

body {
  background-color: #111111;
}

body::-webkit-scrollbar {
  width: 12px; 
}

body::-webkit-scrollbar-track {
  background: rgb(36, 36, 36); 
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(0, 75, 50); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid rgb(36, 36, 36); /* creates padding around scroll thumb */
}

div {
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h4 > p {
  font-family: MicrogrammaDMedExt, sans-serif;
}
