.OutrosConhecimentos {
  padding-top: 10vw;
  flex-direction: row;
  display: inline-flex;
  margin-left: 0vw;
}

.BoxTexto {
  width: 38%;
  margin-left: 11vw;
}

.Titulos {
  font-weight: 100;
  letter-spacing: 10pt;
  margin-bottom: 2%;
  margin-left: 0vw;
  font-size: 3vw;
  padding-top: 5%;
}

.Descricao {
  font-weight: 100;
  margin-bottom: 2%;
  margin-left: 0vw;
  width: 40vw;
  font-size: 1.2vw;
  line-height: 2vw;
}

.IconGroup {
  color: rgb(0, 124, 103);
  font-size: 8vw;
  cursor: pointer;
  display: flex;
  justify-content:baseline ;
  width: 35%;
  margin-top: 0vw;
}

.IconLink {
  display: flex;
  flex-direction: column;
  margin-bottom: 2vw;
  margin-right: 0vw;
}

.IconLink > p {
  color: rgb(101, 101, 101);
}
.Icon {
  margin-left: 0vw;
  margin-right: 0vw;
  margin-top: 10vw;
  color: rgb(0, 124, 103);
  width: 45%;

}

.Icon:hover {
  color: rgb(0, 175, 131);
  animation: float 1s ease-in-out infinite;
}
.IconLink > p {
  color: rgb(101, 101, 101);
  display: flex;
  align-content: space-around;
  margin: 0 auto;
}
.IconLink {
  width: 15vw;
  align-items: center;
}
@keyframes float {
  0% {
    transform: translatey(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@media (max-width: 768px) {
  .OutrosConhecimentos {
    padding-top: 10vw;
    flex-direction: column;
    display: flex;
    align-content: center;
    margin-left: 0vw;
  }

  .BoxTexto {
    width: 80%;
    margin-left: 11vw;
  }

  .Titulos {
    font-weight: 100;
    letter-spacing: 5pt;
    margin-bottom: 2%;
    margin-left: 0vw;
    font-size: 150%;
    padding-top: 5%;
  }

  .Descricao {
    font-weight: 100;
    font-size: 80%;
    line-height: 180%;
    width: 70vw;
  }

  .IconGroup {
    color: rgb(0, 124, 103);
    font-size: 500%;
    cursor: pointer;
    display: flex;
    justify-content: left;
    width: 86vw;
    flex-wrap: wrap;
    margin-top: 1vw;
    margin-left: 10vw;

  }

  .IconLink {
    width: 25vw;
    align-items: center;
  }
  .IconLink > p {
    color: rgb(101, 101, 101);
    font-size: 12%;
    margin-top: 5px;
  }

  .Icon {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1vw;
    color: rgb(0, 124, 103);
    width: 125%; 
  }
}
@media (max-width: 425px) {
  .Icon {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1vw;
    color: rgb(0, 124, 103);
    width: 85%; 
}
.Titulos {
  font-weight: 100;
  letter-spacing: 5pt;
  margin-bottom: 2%;
  margin-left: 0vw;
  padding-top: 5%;
}
.IconGroup {
  color: rgb(0, 124, 103);
  font-size: 500%;
  cursor: pointer;
  display: flex;
  justify-content: left;
  width: 78vw;
  flex-wrap: wrap;
  margin-top: 1vw;
  margin-left: 10vw;

}
}